/* PAGE DE BASE */
.marauder-open-container {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	padding: 0;
	background: transparent;
	padding: 20px 0;
}

.marauder-open-map {
	width: 360px; /* largeur finale souhaitée */
	height: 480px; /* hauteur pour tous les elements */
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}

/* Demi map */
.map-left-half,
.map-right-half {
	position: absolute;
	top: 0;
	width: 50%;
	height: 100%;
}

/* Animation ouverture */
.map-left-half {
	left: 0;
	animation: openLeft 1.2s forwards ease-out;
	transform-origin: right center;
	object-position: right;
}

.map-right-half {
	right: 0;
	animation: openRight 1.2s forwards ease-out;
	transform-origin: left center;
	object-position: left;
}

@keyframes openLeft {
	from {
		transform: translateX(0);
	}
	to {
		transform: translateX(-180px);
	}
}

@keyframes openRight {
	from {
		transform: translateX(0);
	}
	to {
		transform: translateX(180px);
	}
}

/* PARCHEMIN */

/* container image + texte + boutton */
.parchment-container {
	position: absolute;
	width: 360px;
	height: 484px;
	top: 51%;
	left: 50%;
	transform: translate(-50%, -50.8%);
	display: flex;
	justify-content: center;
	align-items: center;
}

.parchment-image {
	height: 100%; /* même hauteur que les pages */
	width: 100%;
	object-fit: cover;
}

/*par dessus le parchemin*/
.serment-container {
	position: absolute; /* centre sur le parchemin */
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 90%;
	display: flex;
	flex-direction: column; /* textarea AU-DESSUS du bouton */
	align-items: center;
	max-height: 80%;
	min-height: 300px;
}

.parchment-textarea {
	width: 100%;
	min-height: 100px;
	padding: 10px;
	font-size: 1rem;
	font-family: var(--font-text);
	text-align: center;
	border-radius: 6px;
	border: 3px solid #7a5b2f;
	background: rgba(255, 255, 255, 0.85);
	resize: none;
}

.parchment-container.magic-glow {
	animation: glowSpell 1.8s ease-out forwards;
}

@keyframes glowSpell {
	0% {
		filter: drop-shadow(0 0 0px gold);
	}
	50% {
		filter: drop-shadow(0 0 25px gold) drop-shadow(0 0 40px goldenrod);
	}
	100% {
		filter: drop-shadow(0 0 8px goldenrod);
	}
}

.magic-text {
	font-family: var(--font-text);
	font-size: 0.85rem;
	white-space: pre-line; /* garde les sauts de ligne */
	position: relative;
	padding-right: 10px;
}

.rules-container {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

@keyframes fadeIn {
	from {
		opacity: 0;
		transform: translateY(10px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

/* MESSAGE D'ERREUR / INDICE */
.error-msg {
	min-height: 40px; /*réserve un espace fixe */
	font-size: var(--font-size-M);
	text-align: center;
	margin: 0;
	color: #7a0000;
	font-weight: bold;
	opacity: 0; /* invisible si pas d’erreur */
	transition: opacity 0.2s;
}

.error-msg.visible {
	opacity: 1; /* visible quand erreur */
}

/*===========================================*/

.validation-image {
	position: absolute;
	bottom: 210px; /* permet de mettre le boutton en visuel par dessus le textarea*/
	right: 10px;
	width: 28px;
}

.crystal-section {
	display: flex;
	justify-content: column;
	align-items: center;
	justify-content: center;
}

.clue-image {
	width: 40px;
	height: auto;
	padding: 0;
}

.clue-text {
	min-height: 20px;
	opacity: 0;
	position: relative;
	transition: opacity 0.4s ease-out 1s;
	background: transparent;
}

.clue-text.visible {
	opacity: 1;
}

.game-button {
	opacity: 0;
	animation: fadeIn 1.3s forwards ease-out;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 8px;
	padding: 16px;
	width: 70%;
	height: 40px;
	margin: 18px auto;
	background: var(--background-button);
	border-radius: 8px;
	border: none;
	font-size: var(--font-size-M);
	font-family: var(--font-title);
	font-weight: 100;
}

.game-button:hover {
	cursor: pointer;
	scale: 1.04;
	box-shadow: 0px 0px 10px 4px #ffffff;
	transition: all .5s;
}

.game-button img {
	width: 20px;
	height: 20px;
}

/* MOBILE : on garde la même logique mais plus petit */
@media screen and (max-width: 700px) {
	.marauder-open-map {
		width: 260px;
		height: 340px;
	}

	.parchment-container {
		position: absolute;
		width: 100%;
		height: 340px;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		display: flex;
		justify-content: center;
		align-items: center;
		z-index: 3;
	}

	.parchment-image {
		width: 100%;
		height: 101%;
		transform: translateY(-49.8%);
		position: absolute;
		top: 50%;
	}

	.serment-container {
		width: 95%;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	@keyframes openLeft {
		from {
			transform: translateX(0);
		}
		to {
			transform: translateX(-120px);
		}
	}

	@keyframes openRight {
		from {
			transform: translateX(0);
		}
		to {
			transform: translateX(120px);
		}
	}

	.crystal-section {
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.game-button {
		margin-top: 5px;
	}
}
/* ================================================*/
